.bar-window{
  background-color: rgba(29, 29, 29, 0);
  padding: 15px;
}

//////////////////////////////
////Definir una variables ////
//////////////////////////////

////Definir una variables
$color_01: rgba(238, 232, 170, 1); 
$color_02: rgba(32, 54, 32, 1); 
$font_size: 20px;

//////////////////////////////
////      power_box       ////
//////////////////////////////

.box-main{
  background-color: rgba(238, 232, 170, 0.3);
  padding: 3px;
  border-radius: 50px;
}

.box-up{
  background-color: rgba(32, 54, 32, 1);
  padding: 5px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(32, 54, 32, 1);
}

.box-down{
  background-color: rgba(01, 260, 10, 0);
  padding: 5px;
  border-radius: 100px;
}


////------config_butons---////
.button-power-01 {
  // background: rgba(01, 260, 10, 0);
  padding: 15;
  border-radius: 100px 100px 100px 100px;
  &:active,
  &:focus {
    background-color: rgba(238, 232, 170, 0.2); 
  }
}

.button-power-02 {
  background: rgba(01, 260, 10, 0);
  padding: 15;
  border-radius: 100px 100px 100px 100px;
  &:active,
  &:focus {
    background-color: rgba(32, 54, 32, 0.4);
  }
}

////---config_text_of_butons---////
.close-secion{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.reboot{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.suspend{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.poweroff{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.cancel{
  font-size: $font_size;
  color: $color_02;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}


