.bar-window{
  background-color: rgba(29, 29, 29, 0);
  padding: 15px;
}

//////////////////////////////
////Definir una variables ////
//////////////////////////////

////Definir una variables
$color_01: rgba(184, 184, 255, 1); 
$color_02: rgba(184, 184, 255, 1); 
$font_size: 40px;

//////////////////////////////
////      power_box       ////
//////////////////////////////

.box-main{
  background-color: rgba(41, 47, 70, 0.7);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(41, 47, 70, 1)
}

.box-up{
  background-color: rgba(9, 16, 29, 1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(9, 16, 29, 1);
}

.box-down{
  background-color: rgba(9, 16, 29, 1);
  padding: 5px;
  border-radius: 5px;
  min-width: 225px;
  box-shadow: 0px 0px 5px rgba(9, 16, 29, 1);
}


////------config_butons---////
.button-power-01 {
  background: rgba(41, 47, 70, 1);
  padding: 25;
  border-radius: 5px 5px 5px 5px;
  &:active,
  &:focus {
    background-color: rgba(184, 184, 255, 0.6); 
  }
}

.button-power-02 {
  background: rgba(41, 47, 70, 1);
  padding: 10;
  border-radius: 5px 5px 5px 5px;
  &:active,
  &:focus {
    background-color: rgba(184, 184, 255, 0.6); 
  }
}

////---config_text_of_butons---////
.close-secion{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.reboot{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.suspend{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.poweroff{
  font-size: $font_size;
  color: $color_01;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}

.cancel{
  font-size: $font_size;
  color: $color_02;
  font-family: "3270 Nerd Font";
  text-shadow: none;
}


