.lock-icon-glass{
  background-color: rgba(238, 232, 170, 0.2);
  border-radius: 100px;
  padding:  10px;
}


.icon {
  font-size: 46px;
  color: rgb(32, 54, 32, 1) ;
  font-family: "starcraftt";
}


