.skull-icon-glass{
  background-color: rgba(15, 01, 19, 0);
  border-radius: 10px;
  padding: 10px;
}

.glass_button {
  background: rgba(29, 29, 29, 0);
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 0;
  font-size: 20px;
  color: #00CCDE;
}

.gif-container_00 {
  background-color: rgba(9, 16, 29, 0.7);
  box-shadow: 0px 0px 5px rgba(9, 16, 29, 1);
  border-radius: 3px;
  padding: 6px;
}

.gif-container_01 {
  background-color: rgba(26, 26, 28, 1);
  border-radius: 5px;
  padding: 1px;
  // box-shadow: 0px 0px 5px rgba(9, 16, 29, 1);
  // border: 0.5px dashed #b8b8ff;
}


// - none — Sin borde.
// - solid — Línea sólida (normal).
// - dashed — Línea discontinua (rayada).
// - dotted — Línea punteada.
// - double — Doble línea (como en tu ejemplo).
// - groove — Borde con efecto de ranura (con relieve).
// - ridge — Borde con efecto de cresta (inverso a groove).
// - inset — Borde en relieve hacia adentro (efecto hundido).
// - outset — Borde en relieve hacia afuera (efecto sobresaliente).



