.widget_inf{
  background-color: rgba(29, 29, 29, 0);
  padding: 0px 0px 0px 0px;
  min-width: 0px;
}

//////////////////////////////
////Definir una variables ////
//////////////////////////////

////Definir una variables
$color_01: rgba(238, 232, 170, 1); 
$color_02: rgba(32, 54, 32, 1); 
$font_size: 20px;

$color_main: rgba(238, 232, 170, 0.3);
$color_box_up:  rgba(32, 54, 32, 1);
$shadow_box_up: 0px 0px 3px rgba(32, 54, 32, 1);
$color_box_down: rgba(01, 260, 10, 0);


//////////////////////////////
////    container_box     ////
//////////////////////////////

.box-main{
  background-color: $color_main;
  padding: 3px;
  border-radius: 50px;
}

.box-end-left{
  background-color: $color_box_down;
  padding: 0px;
  border-radius: 50px;
  min-width: 280px;
}

.box-end-right{
  background-color: $color_box_down;
  padding: 0px;
  border-radius: 50px;
  min-width: 370px;
}


////-------box-up

.box-battery{
  background-color: $color_box_up; 
  padding: 5px;
  border-radius: 100px;
  box-shadow: $shadow_box_up;
  min-width: 60px;
}

.box-cpu{
  background-color: $color_box_up; 
  padding: 5px;
  border-radius: 100px;
  box-shadow: $shadow_box_up;
  min-width: 130px;
}

.box-day{
  background-color: $color_box_up; 
  padding: 5px;
  border-radius: 100px;
  box-shadow: $shadow_box_up;
  min-width: 90px;
}

.box-adjutant{
  background-color: $color_box_up; 
  padding: 5px;
  border-radius: 100px;
  box-shadow: $shadow_box_up;
  // min-width: 90px;
}

////-------box-down
.box-ram{
  background-color: $color_box_down;
  padding: 5px;
  border-radius: 100px;
  min-width: 90px;
}

.box-calendar{
  background-color: $color_box_down;
  padding: 5px;
  border-radius: 100px;
  min-width: 110px;
}

.box-clock{
  background-color: $color_box_down;
  padding: 5px;
  border-radius: 100px;
  min-width: 60px;
}

// //////////////////////////////////
// ////      inf_labels          ////
// //////////////////////////////////

.glass_button {
  background: rgba(29, 29, 29, 0);
  box-shadow: none;
  border: none;
  border-color: #FFFFFF;
  padding: 0;
  font-size: 20px;
  color: #00CCDE;
}

.battery-label {
  font-size: 14px;
  color: $color_01;
  font-family: "Inconsolata NF";
}

.ram-label {
  font-size: 14px;
  color: $color_02;
  font-family: "Inconsolata NF";
}

.CPU-label {
  font-size: 14px;
  color: $color_01;
  font-family: "Inconsolata NF";
}

.time-label{
  font-size: 10px;
  color: $color_02;
  font-family: "frank";
}

.day-label{
  font-size: 10px;
  color: $color_01;
  font-family: "frank";
}

.calendar-label{
  font-size: 10px;
  color: $color_02;
  font-family: "frank";
}

.adjutant{
  font-size: 20px;
  color: $color_01;
  font-family: "starcraftt";
}




